[submodule "resvg-test-suite"]
	path = resvg-test-suite
	url = https://github.com/RazrFalcon/resvg-test-suite.git
[submodule "w3c-svg-11-test-suite"]
	path = w3c-svg-11-test-suite
	url = https://github.com/wieslawsoltes/W3C_SVG_11_TestSuite.git
