name: CI

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '*'
jobs:
  windows:
    name: Windows (Java 21)
    runs-on: windows-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build & Test
        run: ./gradlew build test -PskipSpotless
      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: windows-test-report
          path: jsvg/build/reports
      - name: Upload Test Diffs
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: windows-test-diffs
          path: build/ref_test

  macOS:
    name: MacOS (Java 21)
    runs-on: macos-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build & Test
        run: ./gradlew build test -PskipSpotless
      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: macos-test-report
          path: jsvg/build/reports
      - name: Upload Test Diffs
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: macos-test-diffs
          path: build/ref_test

  linux:
    name: Linux (Java 21)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build & Test
        run: ./gradlew build test -PskipSpotless
      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: linux-test-report
          path: jsvg/build/reports
      - name: Upload Test Diffs
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: linux-test-diffs
          path: build/ref_test
